.card
{
   
  width: 400px;
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  background: white;
  text-align: center;


  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

