

.courses-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
}

.course-form input,
.course-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.course-form button {
  padding: 8px 12px;
  cursor: pointer;
}


.cardelements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}
